.cabecalho {
    position: relative;
}

.info {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.info h1 {
    color: #fff;
}

.info h2 {
    color: #efefef;
    font-size: 26px;
}

.info h6, .info h5 {
    color: #efefef;
}

.elenco_info {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}

.elenco_info h5 {
    font-weight: bold;
}

.elenco_info h5, .elenco_info h6 {
    color: #efefef;
    font-size: 14px;
    text-align: center;
}