@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;700&display=swap');

html body {
  background-color: #141414;
  font-family: 'Martel Sans', sans-serif;
}

.nav-link.active {
  font-weight: bold !important;
  color: #fff !important;
}

.nav-link {
  font-size: 14px;
  color: #e5e5e5;
}

.nav-link:hover, .nav-link:focus {
  color: #fff !important;
}

.carousel-control-prev {
  margin-left: -50px;
}

.carousel-control-next {
  margin-right: -50px;
}